.main-content-wrapper {
    padding: 0 3rem;
   }

.site-header {
    display: flex;
    flex-direction: column;
}

.subheader {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    gap: 2em;
}

.site-main {
    display: grid;
    grid-template-columns: 23% 77%;
    grid-template-areas: 
     'aside publications-list-options'
     'aside publications-list '
    ;
}

.aside-add {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}

@media (width < 390px) {
    .site-main {
        display: flex;
        flex-direction: column;
    }
}