                        /* Publication list options */

/* Options - left */
.publications-list-options {
    display: flex;
    justify-content: space-around;
    grid-area: publications-list-options;
}

.publications-list-options .options-left {
    display: flex;
    align-items: center;
    gap: 2em;
}

.options-left select {
    padding: 0.3em 0;
    border-radius: 4em;
    flex: 1 1 40%;
}

.options-left p {
    color: #30A0F1;
    text-decoration: underline;
}

.options-left p svg {
    width: 1em;
    fill: #30A0F1 ;
}

/* Options-right */

.publications-list-options .options-right {
    display: flex;
    gap: 1em;
}

.options-right p {
    display: flex;
    align-items: center;
    gap: 0.7em;
}

.options-right p svg {
    width: 1em;
}

.options-right p span {
    color: #2098F0;
    font-weight: bold;
}

                        /* Publications section */

/* Section layout */

.publications-list {
    display: flex;
    flex-wrap: wrap;
    grid-area: publications-list;
    padding: 2em 0em;
    gap: 2em;
    justify-content: center
}


/* Publication card */

/* 1. Images styling  */
.card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex: 0 1 47%;
    box-shadow: -1px 2px 45px -19px rgba(0,0,0,0.28);
}

.card .publication-images {
    min-height: 10em;
    display: flex;
    align-items: center;
}

.publication-images .images-left {
    flex: 1 1 79%;
    box-shadow: -1px 2px 45px -19px rgba(0,0,0,0.28);
}

.images-left img {
    width: 100%;
    height: auto;
}

.publication-images .images-right {
    flex: 1 1 40%;
}

.images-right .top-img img, .images-right .bottom-img img {
    width: 100%;
    height: auto;
    box-shadow: -1px 2px 45px -19px rgba(0,0,0,0.28);
}

/* 2. Text styling */

.card .publication-owner {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.publication-owner .name-first-letter {
    font-weight: bold;
    background: #eee;
    padding: 1em;
    border-radius: 4em
}

.publication-owner .text-left span {
    font-size: 1rem;
}

.publication-owner .text-left span:nth-child(2) {
    font-weight: bold;
}

.publication-owner .text-right span {
    font-size: 1rem;
}

.publication-owner .text-right span:nth-child(2){
    color: #7FC5F6;
    font-weight: bold;
}

.card .publication-description {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    padding: 1em;
}

.card .publication-description h5 {
    font-size: clamp(1.1rem, 1vw, 1.4rem);
}

.publication-description .badge {
    display: block;
    background: #33BB5A;
    width: fit-content;
    padding: 0.2em 0.5em;
    border-radius: 5em;
    text-transform: uppercase;
    color: white;
}

.publication-description .publication-details p {
    font-size: .9rem;
    color: #7FC5F6;
    font-weight: bold;
}

.publication-description .publication-details p span {
    font-size: .9rem;
    color: black;
    font-weight: normal;
}

.line-divider {
    width: 100%;
    height: 0.2em;
    background: #E8E8E8;
}

.publication-description .publication-specs {
    display: flex;
    gap: 6em;
}

.publication-specs .specs-left p {
    font-size: .6rem;
}

.publication-specs .specs-left p span {
    font-size: .6rem;
}

.publication-specs .specs-right p {
    font-size: .6rem;
}

.publication-specs .specs-right p span {
    font-size: .6rem;
}

.card .publication-action-btns {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    gap: .5em;
}

.publication-action-btns #send-offer {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: #008AEE;
    color: white;
    border-radius: 4em;
    border: none;
    padding: 0.3em;
}

.publication-action-btns #send-offer svg {
    width: 1em;
    fill: white;
}

.publication-action-btns #add-in-notebook {
    flex: 1 1 45%;
    padding: 0.3em;
    border-radius: 4em;
    background-color: #EAF8EE;
    color: #67ad7b;
    border: 2px solid #67ad7b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.publication-action-btns #add-in-notebook svg {
    width: 1em;
    fill: #67ad7b;
}

.publication-action-btns #reviewed {
    flex: 1 1 47%;
    padding: 0.3em;
    border-radius: 4em;
    background-color: #FFEBEC;
    color: #FD4C57;
    border: 2px solid #FD4C57;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.publication-action-btns #reviewed svg {
    width: 1em;
    fill: #FD4C57;
}