
                        /* Send Asking Article */

.subheader .send-asking-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send-asking-article .text-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.send-asking-article .text-container h1 {
    font-weight: 700;
}

.send-asking-article .text-container p {
    font-weight: 200;
}

.send-asking-article .text-container p span {
    color: #33BB5A;
}

.send-asking-article .send-asking-btn {
    padding: 0.4em 2em;
    border-radius: 5em;
    border: none;
    color: white;
    background: #33BB5A;
    display: flex;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
}

.send-asking-article .send-asking-btn svg {
    width: 1em;
    height: 1em;
    fill: white;
}

                        /* Filter Article */

/* Text */
.subheader .filter-article {
    display: flex;
    flex-direction: column;
    padding: 2em;
    box-shadow: -1px 2px 22px 0px rgba(0,0,0,0.28);
    border-radius: .8em;
}

.filter-article .filter-text-container {
    display: flex;
    align-items: center;
}

.filter-text-container .clean-filters-p {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.3em;
    color: #2098F0;
    text-decoration: underline;
    cursor: pointer;
}

.filter-text-container .clean-filters-p svg {
    width: 0.8em;
    fill: #2098F0;
}

/* Inputs */

.subheader .filter-article .inputs-and-btn-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
}

.inputs-and-btn-container select{
    flex: 1 1 28%;
    padding: .6em 1.3em;
    border-radius: 5em;
    cursor: pointer;
}
.inputs-and-btn-container button {
    flex: 1 1 30%;
    border-radius: 5em;
    padding: .6em;
    cursor: pointer;
}

.inputs-and-btn-container #brand, 
.inputs-and-btn-container #category, 
.inputs-and-btn-container #place-of-living {
    border: 2px solid #2098F0;
}

.inputs-and-btn-container #model, 
.inputs-and-btn-container #sub-category{
    opacity: 0.3;
}

.inputs-and-btn-container button {
    border: none;
    background-color: #2098F0;
    color: white;
}