@media(max-width: 1000px) {
    .publications-list-options {
        flex-direction: column-reverse;
    }
    .options-left .option-input {
        display: inline-block;
        padding: 0.6em 0.6em;
        border-radius: 4em;
        cursor: pointer;
        width: 35%;
        border: none;
        background: #eee;
    }
    .publications-list-options .options-left {
        flex-wrap: wrap;
    }

    .publications-list-options .options-left select {
        display: none;
    }

    .publications-list-options {
        flex-direction: column-reverse;
   }

   .publications-list-options .options-left p,   .publications-list-options .options-left p span{
        text-align: center;
        font-size: 1.1rem;
    }

    .publications-list-options .options-right {
        margin-left: 0;
        justify-content: center;
    }
    
    .publications-list-options .options-left {
        flex-direction: column;
    }
}

@media (width < 760px) {
    .publications-list-options {
        flex-direction: column;
    }
    .publications-list-options .options-left {
        flex-wrap: wrap;
    }



   
}


@media (width < 660px) {
    .publications-list-options .options-left {
        flex-wrap: wrap;
    }

    .options-left .option-input {
        display: inline-block;
        padding: 0.6em 0.6em;
        border-radius: 4em;
        cursor: pointer;
        width: 35%;
        border: none;
        background: #eee;
    }

    .options-left .option-input:active {
        background-color:green;
    }
    
    .publications-list-options .options-left p, .publications-list-options .options-left p span {
        font-size: 1.1rem;
        text-align: center;

    }

    .publications-list-options .options-left p {
        flex-grow: 1;
    }

    .publications-list-options .options-right {
        margin: 0 auto;
    }

    .publications-list {
        padding: 0;
    }

    .publications-list .card {
        flex: 1 1 100%;
    }

    .card .publication-images .images-left::after {
        padding: 0.1em 1em;
        max-width: 30%;
        max-height: 15%;
        text-align: center;
    }

    .card .publication-images .images-left svg {
        width: 2em;
    }

    .card .publication-images .images-right {
        display: none;
    }
}